@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    transform-style: preserve-3d;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: gainsboro;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    height:100vh;
}
.game {
    display: flex;
    position: absolute;
    height: 720px;
    width: 1280px;
    transform: scale(1);
    user-select: none;
    background: cadetblue;
    overflow: hidden;
    perspective: 800px;
    will-change:scale;
}

.camera {
    width: 0px;
    height: 0px;
    position: relative;
    left: 0px;
    top: 0px;
}

.scene {
    width: 2500px;
    height: 1800px;
    transform-origin: 0 0;
    transform: rotateX(50deg) translateZ(-170px);
    will-change: transform;
}