@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: gainsboro;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    height:100vh;
}
.game {
    display: flex;
    position: absolute;
    height: 720px;
    width: 1280px;
    transform: scale(1);
    user-select: none;
    background: cadetblue;
    overflow: hidden;
}
