.terrain {
    position: absolute;
    background-image: url("../../Assets/terrain/wallpaperbetter.com_1280x1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2000px;
    width: 2900px;
}